

body {
	background-image: url(../img/books.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 100vh;
}
nav.navbar{
	border-bottom: 3px solid #93db46;
	
}
/*figure {
	height: auto;
}*/

.private-photo{
	height: 250px;
}
.for-photo{
	border: 3px solid #95eb34;
	height: 395px;
	width: 370px%;
}
#main-header div img {
	width: 100%;
	height: 100%;
	background-size: contain;
}


#main-header .port-item {
	width: 30%;
}

#main-header:hover {
	
	cursor: pointer;
}

.bg-black {
	color: #fff;
	background-color: #000;
}


@media (min-width: 1199px) {
	.port-item {
		padding: 3em !important;
	}

