{% block js %}
   <script>
    $("#id_category_class").change(function () {
        const url = $("#appealForm").attr("data-student-url");  // get the url of the `load_cities` view
        const category_classId = $(this).val();  // get the selected country ID from the HTML input
       
        $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'category_class_id': category_classId,       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    console.log(data)
                    $("#id_student").html(data);  // replace the contents of the city input with the data that came from the server
                    

                    // let html_data = '<option value="">---------</option>';
                    // data.forEach(function (student) {
                    //     html_data += `<option value="${student.id}">${student.name}</option>`
                    // });
                    // console.log(html_data);
                    // $("#id_student").html(html_data);

            
            }
    });

});
</script>
{% endblock %}