{% load static %}



<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'css/style.css ' %}">

  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" height="60" alt="logo" ></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto" id="navbarNav">
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'student_list' %}">Контингент</a></li>
          <li class="nav-item"><a class="nav-link" href="">Сайт школы</a></li>
          <li class="nav-item"><a class="nav-link" href="">Расписание</a></li>
          <li class="nav-item "><a class="nav-link" href="{% url 'add_student' %}">Добавить ученика</a></li>
          <li class="nav-item "><a class="nav-link" href="{% url 'appeal' %}">Кураторам</a></li>
          <li class="nav-item "><a class="nav-link" href="{% url 'participant' %}">Участие</a></li>
          <li class="nav-item"><a class="nav-link" href="">Вход</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block slider %}


  {% endblock %}
  <div class="container">
    {% block content %}


    {% endblock %}
  </div>


  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <script>
    $('.port-item').click(function () {
      $('.collapse').collapse('hide');
    });
  </script>

 
</body>

</html>